button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #ef4f30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d14327;
}

.container-graficos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
}

.grafico-container {
    width: 45%;
    height: 80vh;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
