body {
  font-family: Arial, sans-serif;
  background-color: #F2DFDF;
  margin: 0;
  padding: 0;
  color: #333;
}

#cabecario{

  background-color: #0E0F26;
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px; 

}
#cabecario>a{
  color: #ECECEC;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

}

#imgCabecario {
  height: 50px;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #ef4f30;
}

#listaIncendios{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 20px;
  
}

.box {
  background-color: #ECF1F3;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 7px;
}

.actions {
  display: flex;
  justify-content: end;
  
  margin: 10px;
}

button {
  background-color: #ef4f30;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #d14327;
}
@media (max-width:800px){
  .container{
      grid-template-columns: repeat(2,1fr);
  }
  .box{
    width: 100%;
  }
  @media (max-width:520px){
      .container{
          grid-template-columns: repeat(1,1fr);
      }
  }
}
