<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertar Incêndio</title>
    <link rel="stylesheet" href="./css/alertarIncendio.css">
    <link rel="shortcut icon" href="./img/favicon_io/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="container">
        <header id="cabecario">
                <img id="imgCabecario" src="./img/cbmpb.png" alt="cbmpb">
                <div>
                <a href="http://localhost:3000/home.html">Home</a>
                <a href="http://localhost:3000/login.html">Sair</a>
            </div>
        </header>   
        <main>
            <img id="logo" src="./img/image.png" alt="CBMPB">
            <h1>Alertar Incêndio</h1>
            <form id="alertForm">
                <label for="localizacao">Localização</label>
                <input type="text" id="localizacao" name="localizacao" readonly>
                <div class="botoes">
                <button type="button" id="localizacaoBtn" onclick="abrirLocalizacao()">Definir Localização</button>
            </div>
                <label for="gravidade">Gravidade</label>
                <select id="gravidade" name="gravidade" required>
                    <option value="">Selecione</option>
                    <option value="Moderado">Moderado</option>
                    <option value="Grave">Grave</option>
                </select>
                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao" placeholder="Descreva o incêndio..." required></textarea>
                
                
                <div class="botoes">
                    
                    <button type="submit">Enviar Alerta</button>
                   
                </div>
            </form>
        </main>
    </div>
    <script src="./js/alertarIncendio.js"></script>
</body>
</html>
