<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focos de Incêndios</title>
    <link rel="stylesheet" href="./css/focoDeIncendio.css">
    <link rel="shortcut icon" href="./img/favicon_io/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="cabecario">
        <img id="imgCabecario" src="./img/cbmpb.png" alt="cbmpb">
        <a href="http://localhost:3000/home.html">Home</a>
    </div>
    <h1>Focos de Incêndios</h1>
    <div id="listaIncendios" class="container">
        <!-- Registros de incêndios inseridos dinamicamente -->
    </div>
</body>
<script src="./js/focoDeIncendio.js"></script>
</html>
