<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos de Incêndios</title>
    <link rel="stylesheet" href="./css/graficos.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <button onclick="window.location.href='focoDeIncendio.html'">Voltar</button>
    
    <div class="container-graficos">
        <div class="grafico-container">
            <canvas id="graficoIncendiosCidade"></canvas>
        </div>
        <div class="grafico-container">
            <canvas id="graficoIncendiosGravidade"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./js/graficos.js"></script>

</body>

</html>
