<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireWatch</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="shortcut icon" href="./img/favicon_io/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="cabecario">
        <img id="imgCabecario" src="./img/cbmpb.png" alt="cbmpb">
        <a href="http://localhost:3000/cadastro.html">Cadastre-se</a>
    </div>
    <div id="imagem">
        <img src="./img/image.png" alt="brasao">
    </div>
    <div id="login">
        <h1>LOGIN</h1>
        <h3>CPF</h3>
        <input type="text" id="cpfLogin" placeholder="digite seu cpf...">
        <h3>Senha</h3>
        <input type="password" id="passwordLogin" placeholder="digite sua senha...">
        <p>Esqueceu a senha?</p>
        <button type="button" onclick="submitLogin()">Confirmar</button>
    </div>
    
    <script src="./js/login.js"></script>
</body>
</html>