<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Ajuda</title>
    <link rel="stylesheet" href="./css/minhaAjuda.css">
    <link rel="shortcut icon" href="./img/favicon_io/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="cabecario">
        <img id="imgCabecario" src="./img/cbmpb.png" alt="cbmpb">
        <a href="http://localhost:3000/home.html">Home</a>
    </div>
    <h1>Minha Ajuda</h1>
    <div id="listaIncendios">
        <button onclick="window.location.href='alertarIncendio.html'">Alertar Incêndio</button>
    </div>
    <script src="./js/minhaAjuda.js"></script>
</body>
</html>