<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireWatch</title>
    <link rel="shortcut icon" href="./img/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/pagLocalizacao.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>

<body>
    <div id="cabecario">
        <img id="imgCabecario" src="./img/cbmpb.png" alt="cbmpb">
        <a href="http://localhost:3000/home.html">Home</a>
    </div>
    <div class="container">
    <div id="itens">
        <h1>Localização</h1>
        <input type="text" id="cidade" placeholder="informe a cidade">
        <input type="text" id="rua" placeholder="informe uma rua ou lugar">
        <button id="searchButton">buscar</button>
    </div>

    <div id="map"></div>
</div>
    <div id="botao">
    

        <button id="enviar">Enviar</button>
    </div>




    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

         <script src="./js/pagLocalizacao.js"></script>

    </script>
</body>

</html>